<div class="main">
  <app-navlogin></app-navlogin>
  <div class="wrapper">
    <!-- SIDEBAR -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Welcome!</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a routerLink="/sdash">Dashboard</a>
        </li>
        <li>
          <a routerLink="topics">Grade 1</a>
        </li>
        <li>
          <a routerLink="topics">Grade 2</a>
        </li>
        <li>
          <a routerLink="topics">Grade 3</a>
        </li>
        <li>
          <a routerLink="topics">Grade 4</a>
        </li>
      </ul>
    </nav>
    <!-- SIDEBAR ENDS -->
  </div>

  <div class="right" id="myDIV">
    <router-outlet></router-outlet>
  </div>
</div>
