.row {
  background-image: url("https://wallpaperaccess.com/full/635988.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}
#result {
  display: none;
}
