<!-- <div class="main">
  <app-navteacher></app-navteacher>
  <div class="wrapper">
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Welcome!</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a routerLink="/tdash">Dashboard</a>
        </li>
        <li>
          <a routerLink="#">Questions</a>
        </li>
        <li>
          <a routerLink="addquestion">Add question</a>
        </li>
        <li>
          <a routerLink="/tdash">Evaluate answers</a>
        </li>
        <li>
          <a routerLink="/tdash">Set timer</a>
        </li>
        <li>
          <a routerLink="/tdash">Student Progress</a>
        </li>
      </ul>
    </nav>
  
  </div> -->

<div class="right" id="myDIV">
  <h3 class="text-center">{{ title }}</h3>
  <div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Topic</th>
            <th>Question</th>
            <th>Hint#1</th>
            <th>Hint#2</th>
            <th>Hint#3</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mathq of mathqs">
            <td
              img
              [src]="mathq.imageUrl"
              [title]="mathq.topic"
              [style.width.px]="imageWidth"
              [style.margin.px]="imageMargin"
            ></td>
            <td>{{ mathq.topic }}</td>
            <td>{{ mathq.question }}</td>
            <td>{{ mathq.hint1 }}</td>
            <td>{{ mathq.hint2 }}</td>
            <td>{{ mathq.hint3 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
